services:
  database:
    build: ./Database
    container_name: database
    # ports:
    #   - "3000:3000"
    volumes:
      - ./db:/app/db
    restart: always

  web:
    image: nginx:alpine
    container_name: web
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./html:/usr/share/nginx/html
    restart: unless-stopped
    depends_on:
      - database
